[Desktop Entry]
Name=Minecraft(v1.12)
Comment=Minecraft(v1.12)
Exec=mc-1.12.sh
Icon=/home/zx/bin/mc-icon.png
Terminal=false
Type=Application
NoDisplay=true
